body{
    margin: 70px;
    align-items: center;
    background-color: #0b1522;
    justify-content: center;
}
.container1{
    display: flex;
    margin: 0;
    padding: 0;
    height: 35vh;
    align-items: center;
    background-color: #0b1522;
    justify-content: center;
}
.start{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    
}
.start h1{
    float: left;
    margin: 0;
    color: whitesmoke;
    font-size: 70px;
}
.hbox{
    height: 200px;
    width: 180px;
}
.heart{
    height: 100px;
    width: 100px;
    background-color: #f20044;
    margin-top: 50px;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation-name: heart;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes heart{
    0%{transform: rotate(-45deg) scale(1.07);}
    75%{transform: rotate(-45deg) scale(1.0);}
    100%{transform: rotate(-45deg) scale(1.08);}
}
.heart:before{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;
}
.heart:after{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}
.end{
    width: 100px;
    height: 100px;
    margin-left: 15px;
}

.end h1{
    float: left;
margin: 0;
color: whitesmoke;
font-size: 70px;
}
hr{
    width: 80%;
    border: 2px solid #f20044;
    background-color: #f20044;
    padding: 2px;
}
.container2{
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* margin-right: 10%;
    margin-left: 10%; */
}
.lovep{
    margin: 40px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.lovep h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 16px black;
}
.lovep p{
    font-size: 25px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    margin-right: 10%;
    margin-left: 10%;
}
.loves{
    margin: 40px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.loves h2{
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-shadow: 4px 4px 16px black;
}
.loves p{
    font-size: 25px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    margin-right: 10%;
    margin-left: 10%;
}
.container3{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
    animation-name: myanimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes myanimation {
    0%{background-color: rgb(207, 24, 24); border-radius: 100px; width: 80%;}
    25%{ background-color: rgb(255, 0, 128); border-radius: 100px;width: 80%}
    50%{background-color: rgb(128, 0, 100);border-radius: 100px;width: 80%}
    75%{background-color: rgb(250, 2, 167);border-radius: 100px;width: 80%}
    100%{background-color: palevioletred; border-radius: 100px;width: 80%}
}
.container3 h1{
        margin-top: 50px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-right: 10%;
        margin-left: 10%;
}